{% extends "base.html" %}

{% block content %}
<h1>Новости</h1>


<h6>Статистика: </h6>

  <ul>
    <li><strong>Количество опубликованных новостей:</strong> {{ num_news }}</li>
    <!-- <li><strong>Copies:</strong> {{ num_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_authors }}</li> -->
  </ul>

{% endblock %}