{% extends 'base.html' %}
{% block title %}<title>Создать задачу</title>{% endblock %}
{% block content %}
    <h1>Создать задачу</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Заголовок</label>{{ form.name }}
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Краткое описание</label>{{ form.text }}
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Текст новости'</label>{{ form.attachment }}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>

{% endblock %}