{% extends "base.html" %}
{% block title %}<title>Задачи</title>{% endblock %}
{% block content %}
    <h1>Задачи в проекте {{project_name}} участника {{member_name}}</h1>
    <h1>Задачи в проекте {{project_pk}} участника {{member_pk}}</h1>

    <a href="{% url 'create_task' pk1=member_pk pk2=project_pk %}">Создать задачу</a>
    
    {% if tasks_list %}
    <ul class="list-group">
      {% for task in tasks_list %}
      
      <a href="{{ task.id }}"><li class="list-group-item">{{ task.name }}</a></li>
      {% endfor %}

    </ul>
    {% else %}
      <p>Задач в нет</p>
    {% endif %} 
{% endblock %}