{% extends 'users/base.html' %}

{% block title %}
  Users list
{% endblock %}

{% block body %}
  <div>
    <h1>Список пользователей:</h1>
    {% if not users %}
      Пользователей в БД нет
    {% else %}
      <ul>
        {% for user in users %}
          <li>#{{ user.id }}.
            <a class="user-link" href="{{ url_for('users_app.details', user_id=user.id) }}">
              {{ user.name }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

  </div>
  <div>
    <a
      class="text-decoration-none"
      href="{{ url_for('users_app.add') }}">Добавить нового пользователя</a>
  </div>
{% endblock %}