{% extends 'base.html' %}

{% block content %}
    <h1>Добавить новость</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Заголовок</label>{{ form.title }}
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Краткое описание</label>{{ form.description }}
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Текст новости'</label>{{ form.text }}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>

{% endblock %}