{% extends "base.html" %}

{% block content %}
    <h1><b>{{ news.title }}</b></h1>
    <div><p><i>{{ news.description}}</i></p></div>
    <p>{{ news.text}}</p>
    <div>Время создания: {{ news.create_on}}</div>
    <div>Автор: {{ news.author_id}}</div>

    <p>
        <a href="{% url 'news_list' %}" class="link-success">Вернутся к списку</a>
    </p>
    
{% endblock %}